<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert Student</title>
    <link rel="stylesheet" href="style.css">

    <style>
        b{
            margin-left: 40%;
        }
    </style>
</head>
<body>
    <h1>ADD NEW STUDENT DATA</h1>
    <br>    <br>    
    <form action="/addstudentresponse" method="POST">
        <b>REGISTRATION NUMBER</b> <br>  <br> <input type="text" placeholder="Enter a Registration Number" name="reg"><br> <br>
        <b>NAME</b> <br> <br>  <input type="text" placeholder="Enter a Name" name="name"> <br> <br>
        <b>COURSE</b> <br> <br>  <input type="text" placeholder="Enter a Course" name="course"> <br> <br>
        <b>E-MAIL</b> <br> <br>  <input type= "email" placeholder="Enter an E-Mail" name="email">  <br><br>
        <b>CONTACT NUMBER</b> <br> <br>   <input type="number" placeholder="Enter a Contact number" name="num"> <br> <br>
        <button>ADD STUDENT</button>
    </form>
    
</body>
</html>