<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/43b6d4a4e8.js"></script>
    <title>Delete Student</title>
    <link rel="stylesheet" href="add_style.css">
</head>



<body>
    <div class="container1 container">
        <div id="hello"> DELETE A STUDENT </div>
        <form action="/deletestudent" method="POST">
            <input 
                type="text" 
                placeholder="Registration Number" 
                 
                id="first"
                name="del"  
            />
            <br>
            <input type="submit" value="DELETE" class="button" id="third"><br><br>
        </form>

        <form action="/findall" method="GET">
            <input type="submit" value="SHOW DB" class="button" id="third"><br><br>
        </form>

        <!-- <form action="/">
            <input type="submit" value="Go Back" class="button" id="third"><br><br>            
        </form>
         -->
        <div style="color: green;" > <%= message %>  </div>

    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>