<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Remove Student</title>
    <link rel="stylesheet" href="style.css">
</head>

<style>
div{
    margin-left: 40%;
}
</style>

<body>
    <h1>DELETE A RECORD</h1> <br><br>
    <form action="/deletestudentresponse" method="POST"> 
        <div> <b>Enter the record to Delete</b> </div><br>
        <input type="text" placeholder="Enter the Registration Number" name="del" /> <br><br>
        <button>DELETE RECORD</button>
    </form>
</body>
</html>