<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/43b6d4a4e8.js"></script>
    <title>Add Student</title>
    <link rel="stylesheet" href="edit_style.css">
</head>



<body>
    <div class="container">
        <div id="hello"> EDIT A STUDENT </div>
        <form action="/editstudent" method="POST">
    
            <input 
                type="text" 
                placeholder="Registration Number" 
                pattern=".{6,}" 
                required 
                id="first"
                name="reg"  
            />
        <br>
            
            <input 
                type="text"   
                required 
                placeholder="Name" 
                id="second" 
                name="name"
            />
        <br>
        
            <input 
                type="text"  
                required 
                placeholder="Enter a Course" 
                id="fourth" 
                name="course" 
            />
        <br>

            <input 
                type="number" 
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                required  
                placeholder="Contact Number" 
                id="first"
                name="num" 
            />
        <br>
    

        <input type="submit" onclick="check()" value="Edit Student" class="button" id="third"><br><br>
        <div style="color: green;" > <%= message %>  </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>